body {
    font-family: Arial, Helvetica, sans-serif;
}

#jokenpo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#score {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#player,
#computer {
    width: 100%;
}

#player {
    background-color: rgba(0, 0, 255, 0.767);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#player h2 {
    color: white;
    text-align: end;
    padding-left: 20px;
}

#player span {
    color: white;
    font-weight: bold;
    padding-left: 20px;
    font-size: 20px;
}

#versus {
    height: 100%;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

#computer {
    background-color: rgba(141, 141, 141, 0.767);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#computer h2 {
    color: white;
    text-align: end;
    padding-right: 20px;
}

#computer span {
    color: white;
    font-weight: bold;
    padding-right: 20px;
    font-size: 20px;
}

ul {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: 50px 0;
    padding: 0;
    list-style: none;
}

ul li {
    font-size: 50px;
    opacity: .3;
}

ul#player__choise li.selected,
ul#computer__choise li.selected {
    opacity: 1;
}

@media screen and (min-width: 800px) {
    body {
        font-family: Arial, Helvetica, sans-serif;
    }
    #jokenpo {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #score {
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    #player,
    #computer {
        width: 45%;
    }
    #player {
        background-color: rgba(142, 142, 253, 0.767);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    #player h2 {
        color: white;
        text-align: end;
        padding-right: 20px;
    }
    #player span {
        color: white;
        font-weight: bold;
        padding-right: 20px;
        font-size: 20px;
    }
    #versus {
        height: 100%;
        font-size: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #computer {
        background-color: rgba(141, 141, 141, 0.767);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    #computer h2 {
        color: white;
        text-align: end;
        padding-left: 10px;
    }
    #computer span {
        color: white;
        font-weight: bold;
        padding-left: 10px;
        font-size: 20px;
    }
    ul {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        margin: 50px 0;
        padding: 0;
        list-style: none;
    }
    ul li {
        font-size: 50px;
        opacity: .3;
    }
    #player h2#p1,
    #computer h2#p2 {
        opacity: 0;
    }
    #player h2.win,
    #computer h2.win {
        opacity: 1;
    }
    h3 {
        opacity: 0;
    }
    .draw {
        opacity: 0;
    }
    ul#player__choise li:hover,
    ul#player__choise li.selected,
    ul#computer__choise li.selected {
        opacity: 1;
    }
}